
*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    font-family:-apple-system, BlinkMacSystemfont,"Sogoe UI", Roboto, Oxygen, Ubunto,Cantarell,'Open Sans','Helvetic Neve',sans-serif;

}

/* Container */
div[class~=container]{
    width: 100%;
    height: 100vh;
    display: block;
    /* background: url(./background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: contain;
    background-position: center; */
    overflow: hidden;
}

/* Header */
header{
    width:100%;
    height: 8vh;
    z-index: 99;
    display: block;
    background-color: white;    
}

/* Nav */
nav{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
logo{
    width: 50px;
    height: 50px;
    content: url('musicstore.png');
    background-repeat: no-repeat;
    margin-left: 100px;
}

div[class~=genre] {
    cursor: pointer;
    margin-left: 100px;
}

div[class~=genre] ul li{
    color: black !important;
}
div[class~=sub-menu]{
    display: none;
}
div[class~=genre] ul li:hover div[class~=sub-menu]{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 15px;
    margin-left: -15px;
}

div[class~=genre] ul li:hover div[class~=sub-menu] ul{
    display: block;
    margin: 10px;
}

div[class~=genre] ul li:hover div[class~=sub-menu] ul li{
    display: block;
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #000;
    background: transparent;
    text-align: left;
}

div[class~=genre] ul li:hover div[class~=sub-menu] ul li:last-child{
    border-bottom: none;
}
/* Menu */
div[class~=menu]{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
}

div[class~=menu] button {
    transform-origin:center;
    border: none;
    padding: 20px;
    background: none;
    outline:none;
    cursor: pointer;
}
div[class~=hamburger] button{
    transform-origin:center;
    border: none;
    padding: 20px;
    background: none;
    outline:none;
    cursor: pointer;
}

div[class~=hamburger] span{
    width:36px;
    height:8px;
    display:block;
    background:black;
    margin: 8px;
}

div[class~=search]{
    width: 30px;
    height: 30px;
    content: url('./search.svg');
}

div[class~=cart]{
    width: 30px;
    height: 30px;
    content: url('./cart.png');
}

/* Slider Content */

div[class~=slider]{
    width: 100%;
    height: 40vh;
    display: block;
}
div[class~=slider] img{
    width: 100%;
    height: 50vh;
    position: absolute;
   
}
div[class~=slide]{
    width: 100%;
    height: 100%;
    content:url(./.jpg);
    object-fit: cover;
    animation:slider 8s infinite linear; 
}

/* Slider animation keyframe */

@keyframes slider{
    0%{
        content: url(./21pilot.jpg);
        object-fit: cover;
    }

    20%{
        content: url(./taylor.jpg);
    }
    
    35%{content: url(./background.jpg);}
    
    70%{content: url(./Wherethelightis.jpg);
        
    }
}

/* Headlines */

div[class~=headlines]{
    width: 80%;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div[class~=headlines-details]{
    width: 100%;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
}
div[class~=headlines-details] span{
    font-weight: bold;
    font-size: 20px;
    color: #da0f47;
}
facebook{
    width: 24px;
    height: 24px;
    content: url('./images/facebook.svg'); 
}
instagram{
    width: 24px;
    height: 24px;
    content: url('./images/instagram.png'); 
}

/* New-Realese */

div[class~=new-music]{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
}
div[class~=new-release]{
    width: 65%;
    height: 100%;
}
div[class~=new-release] div[class~=head]{
    width: 100%;
    height: 45px;
    align-items: center;
    display: flex;
}
div[class~=new-release] div[class~=head] h1{
    font-size: 20px;
    font-weight: 500;
}
div[class~=new-release-section]{
    display: flex;
    justify-content: space-evenly;
}
div[class~=new-release-song]{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
div[class~=new-release-song]:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
div[class~=new-release-song]:hover span[class~=new-release-artist]{
    color: #da0f47;
} 
div[class~=new-release-section] img{
    width: 150px;
    height: 150px;
}
span[class~=new-release-artist] {
    color: #656565;
}

div[class~=popular]{
    width: 35%;
    height: 100%;
}
div[class~=popular] div[class~=popular-head]{
    width: 100%;
    height: 45px;
    align-items: center;
    display: flex;
}
div[class~=popular] div[class~=popular-head] h1{
    font-size: 20px;
    font-weight: 500;
}
div[class~=popular] ol{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
div[class~=popular] ol li div[class~=popular-title] {
    font-size: 14px;
    color: #222222;
    display: block;
    transition: font-size .2s;
    line-height: 1.4;
}
div[class~=popular] ol li{
    margin-bottom: 5px;
    cursor: pointer;
}
div[class~=popular] ol li:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
div[class~=popular] ol li:hover span[class~=popular-artist]{
    color: #da0f47;
}
div[class~=popular-list] ol li span[class~=popular-artist]{
    color: #656565;
    font-size: 14px;
    display: block;
    transition: font-size .2s, color .2s;
    line-height: 1.4;
}
album{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
div[class~=album-main]{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
div[class~=album-head]{
    width: 80%;
    height: 40px;
    border-bottom: 1px solid #656565;
    display: flex;
    align-items: center;
}

div[class~=album-head] span[class~=album-heading]{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;

}

div[class~=album-details]{
    width: 250px;
    height: 300px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


div[class~=album-artwork]{
    width: 250px;
    height: 250px;
    content: url('./images/Continuum.jpg');
    box-shadow: 0px 1px 5px 0px rgb(50 50 50 / 75%);
    border-radius: 3px;
    cursor: pointer;
}
div[class~=order-now]{
    width: 100px;
    height:40px;
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: white;
}

div[class~=album-main-content]{
    display: flex;
    
}
div[class~=album-content]{
    width: 800px;
    height: 100%; 
    margin-top: 40px;
    display: flex;
    flex-direction: column; 
    margin-left: 20px; 
}
div[class~=album-title]{
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #656565;
}

span[class~=span-album-title]{
    font-size: 25px;
    font-weight: 500;
    
    font-family: Montserrat Alternates;
}
span[class~=span-album-artist]{
    font-size: 25px;
    font-weight: 500;
    font-family: Montserrat Alternates;
    color: #da0f47;
}

div[class~=album-song]{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}   

div[class~=album-song-heading]{
    width: 80%;
    height: 30px;
    border-bottom: 1px solid #656565;
    display: flex;
    align-items: center;
}

div[class~=album-song-heading] span{
    font-size: 18px;
    font-weight: 500;
    font-family: Montserrat Alternates;  
}

div[class~=album-song-main]{
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

song {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.0px );
    -webkit-backdrop-filter: blur( 9.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

div[class~=album-song-main] song div[class~=face]{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div[class~=album-song-main] song div[class~=artwork]{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out; 
}

div[class~=album-song-main] song:hover div[class~=artwork]{
    height: 0;
    overflow: hidden;
    opacity: 0;
    
}

genre,director,producer,writer,label,releaseYear, length,title {
    display: block;
    padding: 3px;
}

artwork{
    width: 250px;
    height: 250px;  
    content: url('./images/gravity.jpg');
    border-radius: 10px;
}
artwork2{
    width: 250px;
    height: 250px;  
    content: url('./images/slow.jpg');
    border-radius: 10px;
}
artwork3{
    width: 250px;
    height: 250px;  
    content: url('./images/stopthistrain.jpg');
    border-radius: 10px;
}